<div class="container">
  <div class="groups-buttons-container">
    <button type="button" class="green-button shadow-button groups-button refresh-button"
      [disabled]="isGroupsRefreshing$ | async" (click)="refreshGroups()">Refresh Group List</button>
    <button type="button" class="green-button shadow-button groups-button create-group-button"
      (click)="showForm()">Create New
      Group</button>
    <div class="timer-value" *ngIf="groupsTimerValue$ | async as groupsTimerValue">{{ groupsTimerValue }}</div>
  </div>
  <h1 class="groups-title">Groups:</h1>
  <div class="groups-container" *ngIf="groupList">
    <app-group-item *ngFor="let groupItem of groupList | sortByDatePipe; trackBy: getGroupID" [groupItem]="groupItem">
    </app-group-item>

  </div>
</div>

<div class="popup-container" id="popupContainer" *ngIf="isShowForm$ | async" (click)="closePopupOnClick($event)">
  <div class="popup">
    <form [formGroup]="newGroupNameForm" class="form" (submit)="onSubmit($event)">
      <label for="newGroupName" class="new-group-name-label form-label popup-label">Enter
        Group Name</label>
      <input formControlName="newGroupName" type="text" name="newGroupName" id="newGroupName"
        class="form-input popup-input"
        [ngStyle]="{'border-color': isFieldInvalid(newGroupNameForm, 'newGroupName') ? 'red' : ''}">

      <div *ngIf="isFieldInvalid(newGroupNameForm,'newGroupName')" class="invalid-feedback">
        <div *ngIf="isFieldHasError(newGroupNameForm, 'newGroupName', 'required')">Please enter a name.</div>
        <div *ngIf="isFieldHasError(newGroupNameForm, 'newGroupName', 'maxlength')">The name is too long.</div>
        <div *ngIf="isFieldHasError(newGroupNameForm, 'newGroupName', 'specialCharacterErr')">Only letters, digits and
          spaces are allowed.
        </div>
      </div>

      <div class="form-buttons-container popup-buttons-container ">
        <button type="submit" class="green-button shadow-button save-new-group form-btn popup-btn form-btn"
          [disabled]="newGroupNameForm.invalid || (isSubmitInProgress$ | async)">Save</button>
        <button type="button" id="popupCancel" class="green-button shadow-button cancel-new-group form-btn popup-btn"
          [disabled]="isSubmitInProgress$ | async">Cancel</button>
      </div>
    </form>
  </div>
</div>

<ng-template #noResults>
  <div class="no-results">
    <div class="no-results-logo"></div>
    <div class="no-results-message">
      Enter your request or create your own cards.
    </div>
  </div>
</ng-template>
