<div class="container">
  <div class="groups-buttons-container">
    <button type="button" class="green-button shadow-button groups-button refresh-button">Refresh Group List</button>
    <button type="button" class="green-button shadow-button groups-button create-group-button" (click)="showForm()"
      *ngIf="!(isShowForm$ | async)">Create New
      Group</button>
    <!-- <div class="timer-value">60</div> -->
  </div>
  <h1 class="groups-title">Groups:</h1>
  <div class="groups-container" *ngIf="groupList$ | async as groupList">
    <app-group-item *ngFor="let groupItem of groupList | sortByDatePipe" [groupItem]="groupItem"></app-group-item>

  </div>
</div>

<div class="popup-container" id="popupContainer" *ngIf="isShowForm$ | async" (click)="closePopupOnClick($event)">
  <div class="popup">
    <form class="form">
      <label for="newGroupName" class="new-group-name-label form-label popup-label">Enter Group Name</label>
      <input type="text" name="newGroupName" id="newGroupName" class="form-input popup-input">
      <div class="form-buttons-container">
        <button type="submit" class="green-button shadow-button save-new-group form-btn popup-btn"
          (submit)="onSubmit($event)">Save</button>
        <button type="button" id="popupCancel"
          class="green-button shadow-button cancel-new-group form-btn popup-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

<ng-template #noResults>
  <div class="no-results">
    <div class="no-results-logo"></div>
    <div class="no-results-message">
      Enter your request or create your own cards.
    </div>
  </div>
</ng-template>
