<div class="container">
  <div class="manage-groups-container">
    <div class="timer-container">
      <button type="button" group="green-button shadow-button refresh-button">Refresh Group List</button>
      <div class="timer-value"></div>
    </div>
    <div class="new-group-container">
      <button type="button" class="green-button shadow-button create-group-button">Create New Group</button>
      <form class="newGroupForm">
        <label for="newGroupName"></label>
        <input type="text" name="newGroupName" id="newGroupName">
        <div class="form-buttons-container">
          <button type="submit" class="green-button shadow button save-new-group">Save</button>
          <button type="button" class="green-button shadow button cancel-new-group">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <div class="groups-container">

  </div>
</div>
