@import '../../../assets/styles/variables.scss';

:host {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.container {
  width: 45%;
  min-height: 80px;
  position: relative;
  background-color: $light-color;
  border-radius: 0 15px 15px 15px;
  padding: 10px;
}

.author {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include font-styles($fs: 14px, $fw: 700);
  color: $dark-grey-color;
}

.date {
  @include font-styles($fs: 12px);
  position: absolute;
  top: 10px;
  right: 10px;
  color: $green-color;
}


.message {
  max-width: 90%;
  min-height: 40px;
  margin-top: 15px;
  @include font-styles($fs: 16px);
  color: #000;
  overflow: hidden;
}

.my-message {
  position: relative;
  left: 640px;
  border-radius: 15px 0 15px 15px;
  background-color: $light-green-color;
}
