@import '../../../assets/styles/variables.scss';

:host {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

.group {
  min-height: 80px;
  position: relative;
  background-color: $light-color;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &-name {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-styles($fs: 18px, $fw: 700);
    color: #000;

    span {
      @include font-styles($fs: 17px);
    }
  }

  &-date {
    @include font-styles($fs: 12px);
    position: absolute;
    top: 10px;
    right: 10px;
    color: $green-color;

    span {
      @include font-styles($fs: 11px);
    }
  }

  &-owner {
    @include font-styles($fs: 14px);
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: $dark-grey-color;

    span {
      @include font-styles;
    }
  }

  &:active:not(.group-delete-button) {
    background-color: $light-grey-color;
  }
}

.group-delete-button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: url('../../../assets/icons/trash.png') no-repeat center center / 31px;
  border: none;
  border-radius: 100%;
  cursor: pointer;

  &:active {
    box-shadow: 0px 4px 4px 0px rgba(130, 130, 130, 0.25);
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  width: 400px;
  min-height: 20px;
  background-color: $grey-color;
  padding: 20px;
  border: 1px solid #CCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.popup-buttons-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup-btn {
  margin: 0;
  margin: 20px 0 15px 0;
}

.popup-label {
  display: block;
  margin-bottom: 10px;
  margin-left: 22px;
  @include font-styles($fs: 16px)
}

.popup-input {
  width: 320px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.delete-group-popup-title {
  @include font-styles($fs: 18px, $fw: 700);
  color: $dark-grey-color;
  text-align: center;
}
