<div class="group">
  <div class="group-name"><span>Group name: </span>{{ groupItem.name }}</div>
  <div class="group-date"><span>Created: </span>{{ groupItem.createdAt | date: 'medium' }}</div>
  <div class="group-owner"><span>Group id: </span>{{ groupItem.id }}</div>
  <button type="button" class="group-delete-button" *ngIf="isGroupOwner(groupItem.createdBy)"
    (click)="dispatchShowPopupAction()"></button>
</div>

<div class="popup-container" id="popupContainer" *ngIf="isShowPopup$ | async">
  <div class="popup">
    <h2 class="delete-group-popup-title">Do you really want to delete the group?</h2>
    <div class="popup-buttons-container">
      <button type="submit" class="green-button shadow-button save-new-group form-btn popup-btn form-btn"
        [disabled]="isSubmitInProgress$ | async" (click)="deleteGroup()">Delete</button>
      <button type="button" id="popupCancel" class="green-button shadow-button cancel-new-group form-btn popup-btn"
        [disabled]="isSubmitInProgress$ | async" (click)="dispathHidePopupAction()">Cancel</button>
    </div>
  </div>
</div>
