<header>
  <div class="wrapper">
    <div class="header-container">
      <div class="search-container">
        <a routerLink="/">
          <div class="logo"></div>
        </a>
        <form [formGroup]="searchForm" name="search" class="search-form" (submit)="onSubmit($event)">
          <input #searchInput formControlName="searchInput" type="text" name="search-form-input" class="search-form-input">
        </form>
        <button type="button" class="filtering-btn blue-button shadow-button" (click)="toggleFilteringBlock()"></button>
      </div>
      <nav class="header-nav">
        <a routerLink="admin" routerLinkActive="header-nav-link-active" class="header-nav-link">Admin page</a>
        <a routerLink="favorite" routerLinkActive="header-nav-link-active" class="header-nav-link">Favorite page</a>
      </nav>
      <div class="user-block">
        <div class="user-block-name">Your Name</div>
        <div class="user-block-logo"></div>
        <button *ngIf="isLoggedIn$ | async" class="blue-button shadow-button user-block-logout-btn" type="button" (click)="onLogOut()">Logout</button>
      </div>
    </div>
    <app-filtering-block *ngIf="isFilterBlockVisible"></app-filtering-block>
  </div>
</header>
 