@import '../../../../assets/styles/variables.scss';

header {
  background-color: $grey-color;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  margin: 0 15px 0 50px;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: transparent url('../../../../assets/icons/logo.png')no-repeat center center / cover;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &-input {
    width: 550px;
    height: 24px;
    padding-left: 10px;
    border: none;
    background-color: $light-grey-color;
  }
}

.filtering-btn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: $blue-color url('../../../../assets/icons/adj-btn.png')no-repeat center center / cover;
  border-radius: 8px;

  &:active {
    background-color: $light-blue-color;
  }
}

.header-nav {
  margin: 0 15px;
  @include font-styles;
  display: flex;
  gap: 15px;

  &-link {
    display: block;
    color: $blue-color;
    font-weight: 700;

    &:hover {
      font-size: 13px;
    }

    &-active {
      font-size: 13px;
      border-bottom: 1px solid $blue-color;
    }
  }

}

.user-block {
  display: flex;
  align-items: center;
  margin: 0 15px;

  &-name {
    margin-right: 8px;
    color: $dark-grey-color;
    text-align: right;
    @include font-styles;
  }

  &-logo {
    width: 24px;
    height: 24px;
    background: url('../../../../assets/icons/login.png') no-repeat center center / cover;
    border-radius: 100px;
  }

  &-logout-btn {
    width: 70px;
    height: 24px;
    margin: 5px;
    border-radius: 5px;
  }
}
