@import '../../../assets/styles/variables.scss';

:host {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}

.person {
  min-height: 80px;
  position: relative;
  background-color: $light-color;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &-name {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-styles($fs: 18px, $fw: 700);
    color: #000;

    span {
      @include font-styles($fs: 17px);
    }
  }

  &-id {
    @include font-styles($fs: 14px);
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: $dark-grey-color;

    span {
      @include font-styles;
    }
  }

  &:active:not(.group-delete-button) {
    background-color: $light-grey-color;
  }
}

.active-conversation {
  background-color: $light-green-color;
}
