<div class="wrapper">
  <div class="login-form-container form-container">
    <form class="registartin-form form"></form>
      <legend class="regitration-form-legend form-legend">Sign In</legend>
      <label for="" class="login-form-email-label form-label">Email</label>
      <input id="email" name="email" type="text" class="login-form-email form-input">
      <label for="" class="login-form-password-label form-label">Password</label>
      <input id="password" name="password" type="text" class="login-form-password form-input">
      <a routerLink="/signout" class="form-link">Sign out</a>
      <button type="submit" class="green-button shadow-button form-btn">Submit</button>
      </div>
</div>
