<div class="wrapper">
  <div class="login-form-container form-container">
    <form [formGroup]="loginForm" class="registartin-form form" (submit)="onSubmit($event)">
      <legend class="regitration-form-legend form-legend">Sign In</legend>

      <label for="email" class="login-form-email-label form-label">Email</label>
      <input formControlName="email" id="email" name="email" type="text" class="login-form-email form-input"
        [ngStyle]="{'border-color': isFieldInvalid(loginForm, 'email') ? 'red' : ''}">

      <div *ngIf="isFieldInvalid(loginForm,'email')" class="invalid-feedback">
        <div *ngIf="isFieldHasError(loginForm, 'email', 'required')">Please enter an email.</div>
        <div *ngIf="isFieldHasError(loginForm, 'email', 'email')">The email is invalid.</div>
      </div>

      <label for="password" class="login-form-password-label form-label">Password</label>
      <input formControlName="password" id="password" name="password" type="password"
        class="login-form-password form-input"
        [ngStyle]="{'border-color': isFieldInvalid(loginForm, 'password') ? 'red' : ''}">

      <div *ngIf="isFieldInvalid(loginForm,'password')" class="invalid-feedback">
        <div *ngIf="isFieldHasError(loginForm, 'password', 'required')">Please enter a password.</div>
      </div>

      <a routerLink="/signout" class="form-link">Sign out</a>
      <button type="submit" class="green-button shadow-button form-btn"
        [disabled]="loginForm.invalid || (isSubmitInProgress$ | async)">Sign In</button>
    </form>
  </div>
</div>
