<div class="wrapper">
  <div class="registration-form-container form-container">
    <form class="registartin-form form"></form>
      <legend class="regitration-form-legend form-legend">Registration</legend>
      <label for="" class="registration-form-email-label form-label">Email</label>
      <input id="email" name="email" type="text" class="registration-form-email form-input">
      <label for="" class="registration-form-username-label form-label">Username</label>
      <input 
        id="username"
        name="username" 
        type="text" 
        class="registration-form-username form-input">
      <label for="" class="registration-form-password-label form-label">Password</label>
      <input id="password" name="password" type="text" class="registration-form-password form-input">
      <a routerLink="/signin" class="form-link">Sign in</a>
      <button type="submit" class="green-button shadow-button form-btn">Submit</button>
      </div>
</div>
