<div class="wrapper">
  <div class="container">
    <div class="profile" *ngIf="profile$ | async as profile">
      <figure class="profile-logo">
        <img src="../../../assets/icons/user-logo.png" alt="{{ profile.name }}" width="223" class="profile-img">
        <form [formGroup]="nameForm" class="name-form" (submit)="onSubmit($event)">
          <input formControlName="name" name="name" type="text" class="name-input" [readonly]="!isNameEditable"
            [ngClass]="{'name-input-editable': isNameEditable}"
            [ngStyle]="{'border-color': isFieldInvalid(nameForm, 'email') ? 'red' : ''}">

          <div *ngIf="isFieldInvalid(nameForm,'name')" class="invalid-feedback">
            <div *ngIf="isFieldHasError(nameForm, 'name', 'required')">Please enter a name.</div>
            <div *ngIf="isFieldHasError(nameForm, 'name', 'maxlength')">The name is too long.</div>
            <div *ngIf="isFieldHasError(nameForm, 'name', 'nameErr')">Only letters and spaces are allowed.</div>
          </div>

          <div class="buttons-container" *ngIf="isNameEditable">
            <button type="submit" class="save-new-name green-button shadow-button edit-profile-button"
              [disabled]="nameForm.invalid || (isSubmitInProgress$ | async)">Save</button>
            <button type="button" class="cancel-editing green-button shadow-button edit-profile-button"
              [disabled]="(isSubmitInProgress$ | async)" (click)="cancelEditing()">Cancel</button>
          </div>
        </form>
      </figure>
      <div class="profile-info">
        <div class="profile-info-email"><span>User Email: </span>{{ profile.email }}</div>
        <div class="profile-info-uid"><span>User ID: </span>{{ profile.uid }}</div>
        <div class="profile-info-createdAt"><span>Creation Date: </span>{{ profile.createdAt | date: 'medium' }}</div>
      </div>
    </div>


    <button type="button" class="green-button shadow-button profile-edit-button profile-button" *ngIf="!isNameEditable"
      (click)="editName()">Edit Name</button>
    <button type="button" class="green-button shadow-button profile-logout-button profile-button"
      (click)="logout()">Logout</button>

    <div class="error" *ngIf="error$ | async as error">
      <h1 class="error-type">{{ error.type }}</h1>
      <p class="error-message">{{ error.message }}</p>
    </div>
  </div>
</div>
