@import '../../../assets/styles/variables.scss';

.wrapper {
  width: 800px;
  min-height: 280px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: $grey-color;
  border-radius: 5px;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include font-styles($fs: 18px, $fw: 700);
    color: $green-color;

    &-email span {
      color: $dark-grey-color;
      @include font-styles($fs: 16px, $fw: 400);
    }

    &-uid span {
      color: $dark-grey-color;
      @include font-styles($fs: 16px, $fw: 400);
    }

    &-createdAt span {
      color: $dark-grey-color;
      @include font-styles($fs: 16px, $fw: 400);
    }
  }
}

.name-form {
  margin: 15px 0 30px 0;
}

.name-input {
  margin-bottom: 5px;
  border: none;
  @include font-styles($fs: 22px, $fw: 700);
  color: $dark-grey-color;
  text-align: center;
  background-color: $grey-color;
}

.name-input-editable {
  background-color: #FFF;
}

.profile-button {
  width: 120px;
  height: 30px;
  position: absolute;
}

.profile-logout-button {
  position: absolute;
  top: 25px;
  right: 25px;
}

.profile-edit-button {
  position: absolute;
  bottom: 13px;
  left: 130px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 125px;
  bottom: 10px;
}

.edit-profile-button {
  width: 60px;
  height: 25px;
}
