@import '../../../assets/styles/variables.scss';

:host {
  padding: 15px;
  position: relative;
}

.go-home-link {
  position: relative;
  top: 0;
  left: 1100px;
  color: $green-color;
  border-bottom: 1px solid $green-color;
}

.title {
  @include font-styles($fs: 20, $fw: 700);
  margin-bottom: 100px;
  color: $dark-grey-color;
}

.progress {
  @include font-styles($fs: 16, $fw: 700);
  margin-bottom: 5px;
}

.score {
  @include font-styles($fs: 14, $fw: 400);
  color: $dark-grey-color;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.task-item {
  max-width: 45%;

  &-title {
    @include font-styles($fs: 14, $fw: 400);
    color: $dark-grey-color;
    margin-top: 10px;
  }
}

.list {
  &-item {
    @include font-styles($fs: 13, $fw: 400);
    margin-bottom: 10px;
    line-height: 1.3;
    text-align: justify;

    span {
      @include font-styles($fs: 13, $fw: 700);
      color: $green-color;
    }
  }
}
