// @import '~@angular/material/prebuilt-themes/your-chosen-theme.css';
@import './assets/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

main {
  padding: 30px 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.green-button {
  background-color: $green-color;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  @include font-styles;

  &:hover {
    cursor: pointer;
  }

  &:active:not[disabled] {
    background-color: $dark-green-color;
  }
}

.green-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}

.shadow-button {
  box-shadow: 0px 4px 4px 0px rgba(39, 174, 96, 0.25);

  &:active {
    box-shadow: none;
  }
}

.form-container {
  padding: 28px 20px 0 20px;
  margin: 0 auto;
  background-color: $light-color;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-legend {
    @include font-styles($fs: 18px, $fw: 700);
    margin-bottom: 10px;
  }

  &-label {
    color: $halfdark-grey-color;
    @include font-styles($fs: 10px);
    margin: 0 0 4px 6px;
  }

  &-input {
    width: 304px;
    height: 37px;
    padding: 13px 9px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #E0E0E0;
    @include font-styles($fs: 14px);
    color: $halfdark-grey-color;
  }

  &-btn {
    width: 124px;
    height: 30px;
    margin: 20px 0 0 180px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    @include font-styles;
    margin-bottom: 30px;
  }

  &-inactive-btn {
    pointer-events: none;
    background-color: $halfdark-grey-color;
    box-shadow: none;
  }

  &-link {
    @include font-styles($fs: 14px);
    color: $green-color;
    position: absolute;
    bottom: 35px;
    left: 28px;

    &:hover {
      border-bottom: 1px solid $green-color;
    }
  }
}

.invalid-feedback {
  color: $red-color;
  @include font-styles($fs: 12px);
  margin: 0 0 8px 6px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ::ng-deep .mat-snack-bar-container {
//   bottom: 150px;
//   right: 0;
//   /* или left: 0; если хотите разместить слева */
//   z-index: 1000;
//   /* Вы можете настроить значение z-index по вашему усмотрению */
// }

.success-toast {
  background-color: #ADDFAD;
}

.error-toast {
  background-color: #FF9C9C;
  // opacity: 0.5;
}
