$light-color: #FAFAFA;
$grey-color: #EEE;
// $halfdark-grey-color: #828282;
$light-grey-color: #F4F4F7;
$dark-grey-color: #797979;
$blue-color: #2F80ED;
// $light-blue-color: #5EA2FF;
// $green-color: #27AE60;
// $red-color: #EB5757;
// $yellow-color: #F2C94C;
$green-color: #27AE60;

@mixin font-styles($fs: 12px, $fw: 400) {
  font-family: 'Roboto', sans-serif;
  font-size: $fs;
  font-style: normal;
  font-weight: $fw;
  line-height: normal;
}